
/* set the main,header, section, and aside elements to have a border of 2px black, a margin of 0, and a padding of 20px to space the areas away from the side margins.  */
main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 2px solid #000000;
    color: black;
}

/* Gives the main element a background of blue */

main {
    background: blue;

}

/* gives the nav bar a red background, space between each nav bar item, border of 2px black, and padding of 20px to allow space between the element and the side margins */

nav {
    display: flex;
    justify-content: space-between;
    background-color: red;
    border: 2px solid black;
    padding: 20px;
    
}

/* Gives the anchor tags (nav bar) no underlines and black text */
a {
    text-decoration: none;
    color: black;
}

/* Gives the collapsable menu icon a display of none */

#hamburger {
    display: none;

}

/* Gives the header element a background of purple, text color of gold, aligns the header to the center, and gives the font size 30px */

header {
    background: purple;
    font-size: 30px;
    text-align: center;
    color: gold;
}

/* Targets the first paragraph in the sections and aside elements and gives it a background of white and a padding of 5px */
p:nth-child(2) {
    background: white;
    padding: 5px;
    
}
/* Targets the second paragraph in the sections and aside elements and gives it a background of green and a padding of 5px, and a font of arial */

p:nth-child(3) {
    background: green;
    font-family: Arial;
    padding: 5px;
}

/* Targets the third paragraph in the sections and aside elements and gives it a background of purple and a padding of 5px and a text color of white */

p:nth-child(4) {
    background: purple;
    color: white;
    padding: 5px;
}

/* Target the begin class giving it a background of springgreen and aligns the text to the center */

.begin {
    background: springgreen;
    text-align: center;
}

/* Target the content class giving it a background of violet and aligns the text to the center */

.content {
    background: violet;
    text-align: center;
}

/* Target the sidebar class giving it a background of darkorange and aligns the text to the center  */

.sidebar {
    background: darkorange;
    text-align: center;
}

/* Gives all h1, h2, & h3 elements the same font size and aligns the text in the center */

h1, h2, h3 {
    font-size: 30px;
    text-align: center;
    }

/* Gives the footer a background of dark golden rod */

footer {
    background: darkgoldenrod;

}


/* Target the images to give them a border, size, maxwidth, max height */

.logo, .logo1, .logo2, .logo3, .logo4, .logo5, .logo6, .logo7, .logo8, .logo9, .logo10, .logo11, .logo12 {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    box-sizing: border-box;
    max-width: 400px;
    
    max-height: 300px;
}

.logo13 {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    max-width: 400px;
    max-height: 300px;
    
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}


/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  
  
}

/* Position the next and prev arrows to the left and right of the carousel */
.next {
  right: 30px;
  border-radius: 3px 0 0 3px;
  position: absolute;
}


.prev {
    left: 10px;
    position: absolute;
}



/* Caption text */
.text {
  color:white;
  font-size: 20px;
  padding: 10px 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Targets the slideshow numbers on the top left of the carousel, giving a color of white, font size of 12px, padding, and positioning */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Target the label and input elements to give it a padding from the left side of 100px */

label, input {
    
    padding-left: 100px;

}

/* Target the footer to align the text and gives it a font of arial */

.main-footer {
    text-align: center;
    font-family: Arial;
}
/* Targets the input element and gives it a padding of 5px */

input {
    padding: 5px;


}



/* Used Media Queries to ensure my flex container will be responsive based on screen size*/

@media (min-width: 800px) {
    #flex-container {
        display: flex;
    }

}

/* Use of media query so my navigation bar will automatically collapse into a hamburger style nav bar when the screen is 500 px or less */

@media(max-width: 500px){
    a{
        display: none;
        text-decoration: none;
    }

    .prev, .next {
        display: flex;
        position: absolute;
    }

    nav {
        flex-flow: column nowrap;
        align-items: center;

    }

    #hamburger {
        display: flex;

    }

    .visible-nav-item {
        display: inherit;

    }

    form {
        display: inline;

    }
   


}